<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>User Avatar Creator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!--<script src="script.js"></script>--!>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="wrapper" ng-app="app" ng-controller="mainCtrl">
<div id="back-lay">
<div id="form-box">
<!--<div ng-app="app" ng-controller="mainCtrl">--!>
<h1>Create New User</h1>
<form name="userForm" ng-submit="addNew(userForm)">
<input placeholder="Name" ng-model="userForm.name"/>
<input placeholder="Image URL" ng-model="userForm.url"/>
<button id="add-button"  type="submit">Add New</button>
</form>
<table class="user-list">
<td ng-repeat="user in users"><avatar user="user"/></td>
</table>
</div>
</div>
</div>
<script src="script.js"></script>
</body>
</html>
