.user-list {
list-style: none; 
}
.avatar {
text-align: center;
}
.avatar img {
width: 50px;
height: 50px;
border-radius: 50%;
}
.avatar .text-box h4 {
text-transform: capitalize;
color: black; 
font-family: "Helvetica Neue"; 
text-align: center;
}
#back-lay {
position: fixed;
top: 0; 
bottom: 0;
right: 175px;
left: 175px;
background: white;  
text-align: center;
box-shadow: 5px 5px 50px, -5px 5px 50px; 
overflow: scroll;
}
#wrapper {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQlWlxx1-t9WxcEv4tU-ewyCUAje3gwR9WrnaX0vMhDO15_l-Cr");
}
#submit-box {
height: 30px;
width: 160px;
text-align: center; 
font-family: "Helvetica Neue";
}
h1 {
font-family: "Helvetica Neue";
color: #CD645E;
font-size: 50px;
}
li {
list-style-type: none;
padding: 10px 50px 0px 50px;
}
#bar {
width: 100%;
height: 6px;
background: black;
margin-top: -21px;
margin-bottom: 10px;
}
.avatar .text-box {
width: 100px;
height: 100px;
font-family: "Helvetica Neue";
text-transform: capitalize;
font-weight: bold;
}
button:hover {
background-color: #CD645E;
color: white;
outline: none;
border: none;
border-radius: 5px; 
}
#add-button {
margin-top: 10px;
width: 100px;
height: 21px;
}
input:focus {
outline: none;
}
button:focus {
outline: none;
background-color: #CD645E;
color: white;
outline: none;
border: none;
border-radius: 5px;
}
